body{
    background-image: url("../images/background.jpg");
}


.namebox{
    position: relative;
    Left: 100px;
    background-color: #4aaaa5;
    width: 200px;  
    color:white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px; 
    padding: 20px;
    float:left;
}
.pagetitle{
    clear: both;
    overflow: auto;
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px; 
    padding: 20px;
}

header{
    width:100%;
    position: fixed;
    top: 0;
    left:0;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
}

.buttonbox{
    margin-left: 0;
    background-color: #ffffff;
    padding-left: 700px;
    padding-top: 20px;
    height: 48px;
}

.content{
    color:#777777;
    margin: 0 auto;
    background-color: #ffffff;
    width: 960px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    margin-top:100px;
    padding-right: 20px;


}

#mainparagraph{
}

.thinline{
    width: 100%;
    Height: 3px;
    background-color:#4aaaa5;
}


.grayline{
    margin:0 auto;
    width:920px;
    Height: 3px;
    background-color:#cccccc;   
}
Footer{
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    margin-top: 20Px;
    background-color:#666666;
    Width: 100%;
    Height: 20px;
}